@media (min-width: 1920px) {
  .container {
    width: 1704px;
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media (min-width: 1920px) {
  .row {
    margin-right: -20px;
    margin-left: -20px;
  }
}

@media (min-width: 1920px) {
  .col-bg-2,
  .col-bg-3,
  .col-bg-4,
  .col-bg-5,
  .col-bg-6,
  .col-bg-7,
  .col-bg-8 {
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media (min-width: 1920px) {
  .col-bg-2 {
    width: 16.6667%;
  }
}

@media (min-width: 1920px) {
  .col-bg-3 {
    width: 25%;
  }
}

@media (min-width: 1920px) {
  .col-bg-4 {
    width: 33.3333%;
  }
}

@media (min-width: 1920px) {
  .col-bg-5 {
    width: 41.6667%;
  }
}

@media (min-width: 1920px) {
  .col-bg-6 {
    width: 50%;
  }
}

@media (min-width: 1920px) {
  .col-bg-7 {
    width: 58.3333%;
  }
}

@media (min-width: 1920px) {
  .col-bg-8 {
    width: 66.6667%;
  }
}

@media (min-width: 1920px) {
  .col-bg-offset-2 {
    margin-left: 16.6667%;
  }
}

ul,
ol,
h1,
h2,
h3,
h4 {
  margin: 0px;
}

li {
  list-style: none;
}

a,
a:focus,
a:hover {
  text-decoration: none;
}

body {
  margin-top: 50px;
}

header {
  background: blue;
  padding-top: 11px;
  padding-bottom: 10px;
  z-index: 2 !important;
}
header li {
  list-style: none;
  float: left;
}
header li a {
  font-size: 16px;
  line-height: 20px;
  color: #ffff01;
}
header li a:focus {
  color: #ffff01;
  text-decoration: none;
}
header li a:hover {
  color: white;
  text-decoration: none;
}
header nav {
  padding-top: 4px;
}
header nav li {
  margin-right: 25px;
}
header nav li:last-child {
  margin-right: 0px;
}
header nav li a {
  font-family: ProximaNova-Regular, Arial;
}
header .country {
  position: relative;
  left: 14%;
  padding-top: 4px;
}
header .country li {
  margin-right: 4px;
}
header .country li::after {
  content: "";
  display: inline-block;
  width: 2px;
  height: 11px;
  background: #ffff0f 1px;
  margin-left: 5px;
}
header .country li:last-child::after {
  display: none;
}
header .country li a {
  font-family: ProximaNova-Bold, Arial;
}
header .free_call {
  margin-left: 10.8%;
}
header .free_call h4 {
  display: inline-block;
  font-family: ProximaNova-Regular, Arial;
  font-size: 21px;
  line-height: 26px;
  color: #ffff01;
  text-transform: uppercase;
}
header .free_call h4.banner {
  color: blue;
  background: #ffff01;
  border-radius: 4px;
  word-spacing: -1px;
  padding: 2px 8px 0px 8px;
  margin-right: 11px;
}
header .free_call h4 em {
  display: inline-block;
  width: 4px;
  border-bottom: 2px solid #ffff01;
  margin-bottom: 6px;
  margin: 0px 1px 6px;
}
header .online_quote {
  float: right;
  font-family: ProximaNova-Bold, Arial;
  margin-right: 1px;
}
header .online_quote a {
  color: #ffff01;
}
header .online_quote a:hover {
  color: white;
}
header .online_quote a:hover span {
  background-position: left bottom;
}
header .online_quote h4,
header .online_quote span {
  display: inline-block;
  font-size: 16px;
}
header .online_quote h4 {
  line-height: 20px;
  margin-right: 6px;
}
header .online_quote span {
  width: 31px;
  height: 29px;
  line-height: 29px;
  background: url("../img/online_quote_bg.png");
  text-align: center;
}

.header_nav_and_slider {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.header_nav_and_slider .slider_top_height {
  position: absolute;
  height: 100%;
}
.header_nav_and_slider .logo_and_nav {
  position: relative;
  float: left;
  width: 21.45833%;
  background: #ffff01;
  padding-top: 46px;
  padding-left: 6.68%;
}
.header_nav_and_slider .logo_and_nav .logo {
  margin-left: -1px;
}
.header_nav_and_slider .logo_and_nav nav {
  margin-top: 51px;
  margin-left: -1px;
  padding-bottom: 67px;
}
.header_nav_and_slider .logo_and_nav nav li {
  margin-bottom: 20px;
}
.header_nav_and_slider .logo_and_nav nav li:nth-child(1) a::before {
  background: url("../img/nav_logo_1.png");
}
.header_nav_and_slider .logo_and_nav nav li:nth-child(2) {
  margin-bottom: 19px;
}
.header_nav_and_slider .logo_and_nav nav li:nth-child(2) a {
  line-height: 42px;
}
.header_nav_and_slider .logo_and_nav nav li:nth-child(2) a::before {
  background: url("../img/nav_logo_2.png");
}
.header_nav_and_slider .logo_and_nav nav li:nth-child(3) {
  margin-bottom: 18px;
}
.header_nav_and_slider .logo_and_nav nav li:nth-child(3) a {
  line-height: 36px;
}
.header_nav_and_slider .logo_and_nav nav li:nth-child(3) a::before {
  background: url("../img/nav_logo_3.png");
}
.header_nav_and_slider .logo_and_nav nav li:nth-child(4) {
  margin-bottom: 18px;
}
.header_nav_and_slider .logo_and_nav nav li:nth-child(4) a {
  line-height: 45px;
}
.header_nav_and_slider .logo_and_nav nav li:nth-child(4) a::before {
  background: url("../img/nav_logo_4.png");
}
.header_nav_and_slider .logo_and_nav nav li:nth-child(5) {
  margin-bottom: 22px;
}
.header_nav_and_slider .logo_and_nav nav li:nth-child(5) a::before {
  background: url("../img/nav_logo_5.png");
}
.header_nav_and_slider .logo_and_nav nav li:nth-child(6) {
  margin-bottom: 25px;
}
.header_nav_and_slider .logo_and_nav nav li:nth-child(6) a {
  line-height: 39px;
}
.header_nav_and_slider .logo_and_nav nav li:nth-child(6) a::before {
  background: url("../img/nav_logo_6.png");
}
.header_nav_and_slider .logo_and_nav nav li:nth-child(7) {
  margin-bottom: 27px;
}
.header_nav_and_slider .logo_and_nav nav li:nth-child(7) a {
  line-height: 27px;
}
.header_nav_and_slider .logo_and_nav nav li:nth-child(7) a::before {
  background: url("../img/nav_logo_7.png");
}
.header_nav_and_slider .logo_and_nav nav li:nth-child(8) {
  margin-bottom: 30px;
}
.header_nav_and_slider .logo_and_nav nav li:nth-child(8) a::before {
  background: url("../img/nav_logo_8.png");
}
.header_nav_and_slider .logo_and_nav nav li:nth-child(9) a {
  line-height: 22px;
}
.header_nav_and_slider .logo_and_nav nav li:nth-child(9) a::before {
  background: url("../img/nav_logo_9.png");
}
.header_nav_and_slider .logo_and_nav nav a {
  position: relative;
  display: inline-block;
  font-family: ProximaNova-SemiBold, Arial;
  font-size: 18px;
  line-height: 34px;
  color: blue;
  padding-left: 62px;
  transition: all 0.25s linear;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
}
.header_nav_and_slider .logo_and_nav nav a:hover {
  opacity: 1 !important;
}
.header_nav_and_slider .logo_and_nav nav a::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
  width: 45px;
  height: 45px;
  background: url("../img/nav_logo_bars.png");
}
.header_nav_and_slider .slider_top {
  position: relative;
  float: left;
  width: 78.54167%;
  height: 100%;
  background: #d5d5d5;
}
.header_nav_and_slider .slider_top img {
  width: 100%;
}
.header_nav_and_slider .slider_top .slider_top_content {
  position: absolute;
  bottom: 121px;
  left: 76px;
  width: 70%;
}
.header_nav_and_slider .slider_top .slider_top_content h1 {
  font-family: KroppenRound-Bold, Arial;
  font-size: 86px;
  line-height: 87px;
  color: blue;
  word-spacing: 2px;
  margin-bottom: 81px;
}
.header_nav_and_slider .slider_top .slider_top_content h1 .bg {
  background: white;
  outline: 21px solid white;
  -moz-outline-offset: -0.04em;
}
.header_nav_and_slider .slider_top .slider_top_content h1 .bg span {
  position: relative;
}
.header_nav_and_slider .slider_top .slider_top_content .read_more {
  font-family: ProximaNova-Regular, Arial;
  font-size: 30px;
  line-height: 36px;
  color: blue;
  background: #ffff01;
  text-transform: uppercase;
  border-radius: 5px;
  padding: 14px 24px 12px 21px;
  margin-left: -21px;
  transition: all 0.25s linear;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
}
.header_nav_and_slider .slider_top .slider_top_content .read_more:hover {
  background: white;
}
.header_nav_and_slider .slider_top .slick-prev,
.header_nav_and_slider .slider_top .slick-next {
  display: none !important;
}
.header_nav_and_slider .slider_top .slick_dots_box {
  position: relative;
}
.header_nav_and_slider .slider_top .slick-dots {
  position: absolute;
  bottom: 51px;
  left: 56px;
}
.header_nav_and_slider .slider_top .slick-dots li {
  display: inline-block;
  margin-right: 18px;
}
.header_nav_and_slider .slider_top .slick-dots li:last-child {
  margin-right: 0px;
}
.header_nav_and_slider .slider_top .slick-dots li button {
  width: 20px;
  height: 20px;
  border: 3px solid white;
  border-radius: 50%;
  color: transparent;
  background: transparent;
  outline: none;
}
.header_nav_and_slider .slider_top .slick-dots li.slick-active button {
  background: white;
}

.we_rent_fun {
  background: #f6f6f6;
  padding-top: 50px;
  padding-bottom: 48px;
}
.we_rent_fun .text {
  font-family: ProximaNova-SemiBold, Arial;
  font-size: 30px;
  line-height: 36px;
  color: blue;
  letter-spacing: -1px;
  margin-top: 46px;
}
.we_rent_fun .logo {
  margin-left: 25.15%;
}

.featured_products {
  padding-top: 69px;
  padding-bottom: 91px;
}
.featured_products .name {
  font-family: ProximaNova-SemiBold, Arial;
  font-size: 36px;
  line-height: 44px;
  color: blue;
  margin-top: 0px;
  margin-bottom: 41px;
}
.featured_products .cd-item {
  height: 495px;
}
.featured_products .cd-item img {
  height: 396px;
}
.featured_products .cd-item .cd-trigger {
  top: 0px;
  font-family: ProximaNova-SemiBold, Arial;
  font-size: 19px;
  height: 396px;
  line-height: 396px;
  color: white;
  background: rgba(0, 0, 255, 0.2);
}
.featured_products .cd-item .cd-trigger:hover {
  background: rgba(0, 0, 255, 0.3);
}
.featured_products .cd-item .cd-trigger::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -43px;
  margin-left: -21px;
  display: inline-block;
  width: 42px;
  height: 25px;
  background: url("../img/quick_view_eye.png");
}
.featured_products .cd-item .information {
  background: #ffff01;
  padding: 22px 30px 24px 29px;
}
.featured_products .cd-item .information .information_box {
  width: 55%;
  float: left;
  margin-top: 1px;
}
.featured_products .cd-item .information h3,
.featured_products .cd-item .information h4 {
  display: inline-block;
  color: blue;
}
.featured_products .cd-item .information h3 {
  font-family: ProximaNova-SemiBold, Arial;
  font-size: 24px;
  line-height: 28px;
}
.featured_products .cd-item .information h3:hover {
  color: white;
}
.featured_products .cd-item .information h4 {
  font-family: ProximaNova-Regular, Arial;
  font-size: 18px;
  line-height: 19px;
  margin-left: 1px;
}
.featured_products .cd-item .information .read_more {
  height: 48px;
  float: right;
  margin-top: 5px;
}
.featured_products .cd-item .information .read_more a {
  position: relative;
  display: inline-block;
  width: 43px;
  height: 43px;
  border-radius: 50px;
  border: 3px solid blue;
}
.featured_products .cd-item .information .read_more a::before {
  content: "Read more";
  display: none;
  font-family: ProximaNova-SemiBold, Arial;
  font-size: 18px;
  line-height: 38px;
  color: #ffff01;
  text-transform: uppercase;
  margin-left: 19px;
}
.featured_products .cd-item .information .read_more a::after {
  content: "";
  position: absolute;
  top: 7px;
  right: 7px;
  display: block;
  width: 23px;
  height: 23px;
  background: url("../img/read_more_plus.png");
  background-repeat: no-repeat;
  background-position: top left;
}
.featured_products .cd-item:hover .read_more a {
  width: 176px;
  background: blue;
}
.featured_products .cd-item:hover .read_more a::before {
  display: inline-block;
}
.featured_products .cd-item:hover .read_more a::after {
  background-position: bottom left;
}
.featured_products .cd-items .slick-prev,
.featured_products .cd-items .slick-next {
  position: absolute;
  top: 0px;
  bottom: 0px;
  font-size: 0px;
  width: 120px;
  background: transparent;
  outline: none;
  border: none;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
}
.featured_products .cd-items .slick-prev:hover,
.featured_products .cd-items .slick-next:hover {
  background: rgba(0, 0, 0, 0.05);
}
.featured_products .cd-items .slick-prev::before,
.featured_products .cd-items .slick-next::before {
  content: "";
  display: inline-block;
  width: 32px;
  height: 61px;
  background: url("../img/featured_products_arrows_prev_next.png");
  background-repeat: no-repeat;
}
.featured_products .cd-items .slick-prev {
  left: -100px;
}
.featured_products .cd-items .slick-next {
  right: -100px;
}
.featured_products .cd-items .slick-next::before {
  background-position: left bottom;
}

.reviews_block {
  background: blue;
  padding-top: 76px;
  padding-bottom: 60px;
}
.reviews_block .cd-testimonials-wrapper {
  width: 100%;
  max-width: 1200px;
  padding: 0px;
  background: transparent;
  text-align: center;
  margin: 0px;
}
.reviews_block .cd-testimonials-wrapper::after {
  display: none;
}
.reviews_block .cd-see-all {
  background: transparent;
}
.reviews_block .slick-prev,
.reviews_block .slick-next {
  display: none !important;
}
.reviews_block .cd-testimonials p {
  font-family: ProximaNova-SemiBold, Arial;
  font-style: normal;
  font-size: 22px;
  line-height: 32px;
  color: #ffff01;
  margin-bottom: 32px;
}
.reviews_block .cd-author .cd-author-info li {
  display: inline-block;
  font-family: ProximaNova-SemiBold, Arial;
  font-size: 30px;
  line-height: 36px;
  color: #ffff01;
}
.reviews_block .cd-author .cd-author-info li:first-child {
  white-space: pre-wrap;
}
.reviews_block .slick_dots_box {
  margin-top: 78px;
}
.reviews_block .slick_dots_box .slick-dots li {
  display: inline-block;
  margin-right: 18px;
}
.reviews_block .slick_dots_box .slick-dots li:last-child {
  margin-right: 0px;
}
.reviews_block .slick_dots_box .slick-dots li button {
  width: 20px;
  height: 20px;
  border: 3px solid #ffff01;
  border-radius: 50%;
  color: transparent;
  background: transparent;
  outline: none;
}
.reviews_block .slick_dots_box .slick-dots li.slick-active button {
  background: #ffff01;
}
.reviews_block .cd-see-all {
  position: relative;
  display: inline-block;
  font-family: ProximaNova-SemiBold, Arial;
  font-size: 18px;
  font-weight: normal;
  line-height: 22px;
  color: blue;
  width: initial;
  height: initial;
  background: #ffff01;
  border-radius: 50px;
  padding: 10px 84px 11px 20px;
  margin-top: 48px;
}
.reviews_block .cd-see-all:hover {
  color: blue;
  background: white;
}
.reviews_block .cd-see-all:after {
  content: "";
  position: absolute;
  top: 9px;
  right: 20px;
  display: inline-block;
  width: 42px;
  height: 25px;
  background: url("../img/view_all_eye.png") no-repeat right center;
}

.product_categories {
  padding-top: 76px;
  padding-bottom: 62px;
}
.product_categories li {
  margin-bottom: 38px;
}
.product_categories .name {
  font-family: ProximaNova-SemiBold, Arial;
  font-size: 36px;
  line-height: 44px;
  color: blue;
  margin-bottom: 38px;
}
.product_categories a:hover .img_box {
  position: relative;
}
.product_categories a:hover .img_box::after {
  content: "";
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 255, 0.3);
}
.product_categories img {
  width: 100%;
  height: 259px;
  background: #d5d5d5;
}
.product_categories .information {
  background: #ffff01;
  padding: 27px 28px 24px 32px;
}
.product_categories .information .logo {
  display: block;
  width: 65px;
  height: 59px;
  float: left;
  margin-right: 22px;
}
.product_categories a:hover .information {
  background: blue;
}
.product_categories ul li:nth-child(1) .information .logo {
  background: url("../img/product_categories_logo_1.png");
}
.product_categories ul li:nth-child(1) a:hover .information .logo {
  background: url("../img/product_categories_logo_1_hover.png");
}
.product_categories ul li:nth-child(2) .information .logo {
  background: url("../img/product_categories_logo_2.png");
}
.product_categories ul li:nth-child(3) .information .logo {
  background: url("../img/product_categories_logo_3.png");
}
.product_categories ul li:nth-child(4) .information .logo {
  background: url("../img/product_categories_logo_4.png");
}
.product_categories ul li:nth-child(5) .information .logo {
  background: url("../img/product_categories_logo_5.png");
}
.product_categories ul li:nth-child(6) .information .logo {
  background: url("../img/product_categories_logo_6.png");
}
.product_categories ul li:nth-child(7) .information .logo {
  background: url("../img/product_categories_logo_7.png");
}
.product_categories ul li:nth-child(8) .information .logo {
  background: url("../img/product_categories_logo_8.png");
}
.product_categories ul li .text_box {
  float: left;
}
.product_categories ul li h3,
.product_categories ul li h4 {
  color: blue;
}
.product_categories ul li a:hover h3,
.product_categories ul li a:hover h4 {
  color: #ffff01;
}
.product_categories ul li h3 {
  font-family: ProximaNova-Bold, Arial;
  font-size: 24px;
  line-height: 29px;
  margin-top: 2px;
}
.product_categories ul li h4 {
  font-family: ProximaNova-Regular, Arial;
  font-size: 18px;
  line-height: 26px;
}

.instagram_feed li {
  width: 16.6666%;
  height: 321px;
  float: left;
  overflow: hidden;
}
.instagram_feed a {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.instagram_feed img {
  background: #b3b3b3;
  width: 100%;
  height: 100%;
}
.instagram_feed .information {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 0%;
  background: rgba(255, 255, 1, 0.9);
  transition: all 0.25s linear;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  padding-top: 27px;
}
.instagram_feed a:hover .information {
  width: 100%;
}
.instagram_feed h2,
.instagram_feed h3,
.instagram_feed h4 {
  font-size: 14px;
  color: blue;
  opacity: 0;
  margin-right: 29px;
  margin-left: 29px;
}
.instagram_feed a:hover h2,
.instagram_feed a:hover h3,
.instagram_feed a:hover h4 {
  transition: opacity 0.25s linear;
  -webkit-transition: opacity 0.25s linear;
  -moz-transition: opacity 0.25s linear;
  -o-transition: opacity 0.25s linear;
  transition-delay: 0.35s;
  -webkit-transition-delay: 0.35s;
  -moz-transition-delay: 0.35s;
  -o-transition-delay: 0.35s;
  opacity: 1;
}
.instagram_feed h2 {
  font-family: ProximaNova-Bold, Arial;
  line-height: 24px;
  background: url("../img/instagram_icon.png");
  background-repeat: no-repeat;
  padding-left: 38px;
  margin-bottom: 21px;
}
.instagram_feed h3 {
  font-family: ProximaNova-SemiBold, Arial;
  line-height: 19px;
}
.instagram_feed h4 {
  position: absolute;
  left: 0px;
  bottom: 23px;
  font-family: ProximaNova-Bold, Arial;
  line-height: 17px;
}

.video_follow_catalogue {
  padding-top: 66px;
  padding-bottom: 96px;
}
.video_follow_catalogue h2 {
  font-family: ProximaNova-SemiBold, Arial;
  font-size: 36px;
  line-height: 44px;
  color: blue;
  margin-bottom: 36px;
}
.video_follow_catalogue .latest_video iframe {
  width: 100%;
  height: 450px;
}
.video_follow_catalogue .follow_us li {
  margin-bottom: 32px;
}
.video_follow_catalogue .follow_us a {
  position: relative;
  display: inline-block;
  font-family: ProximaNova-Regular, Arial;
  font-size: 24px;
  line-height: 29px;
  color: blue;
  width: 100%;
  background: #ffff01;
  padding: 23px 25px 19px 86px;
}
.video_follow_catalogue .follow_us a:hover {
  color: #ffff01;
  background: blue;
}
.video_follow_catalogue .follow_us a::before {
  content: "";
  position: absolute;
  top: 22px;
  left: 28px;
  display: inline-block;
  width: 31px;
  height: 31px;
  background: url("../img/social_networks_bar.png") no-repeat;
}
.video_follow_catalogue .follow_us ul li:nth-child(1) a:hover::before {
  background-position: right 0px;
}
.video_follow_catalogue .follow_us ul li:nth-child(2) a::before {
  top: 21px;
  background-position: 0px -52px;
}
.video_follow_catalogue .follow_us ul li:nth-child(2) a:hover::before {
  background-position: right -52px;
}
.video_follow_catalogue .follow_us ul li:nth-child(3) a::before {
  top: 21px;
  background-position: 0px -102px;
}
.video_follow_catalogue .follow_us ul li:nth-child(3) a:hover::before {
  background-position: right -102px;
}
.video_follow_catalogue .follow_us ul li:nth-child(4) a::before {
  top: 20px;
  background-position: 0px -152px;
}
.video_follow_catalogue .follow_us ul li:nth-child(4) a:hover::before {
  background-position: right -152px;
}
.video_follow_catalogue .catalogue li {
  margin-bottom: 32px;
}
.video_follow_catalogue .catalogue a {
  position: relative;
  display: inline-block;
  font-family: ProximaNova-SemiBold, Arial;
  font-size: 24px;
  line-height: 29px;
  color: blue;
  width: 100%;
  background: #ffff01;
  padding: 23px 25px 19px 28px;
}
.video_follow_catalogue .catalogue a:hover {
  color: #ffff01;
  background: blue;
}
.video_follow_catalogue .catalogue a::after {
  content: "";
  position: absolute;
  top: 14px;
  right: 30px;
  display: inline-block;
  width: 43px;
  height: 43px;
  background: url("../img/catalogue_arrow_bar.png") no-repeat;
}
.video_follow_catalogue .catalogue a:hover::after {
  background-position: right 0px;
}

footer .main {
  background: blue;
  color: #ffff01;
  padding-top: 53px;
  padding-bottom: 46px;
}
footer .main a,
footer .main h2 {
  font-family: ProximaNova-Regular, Arial;
  font-size: 18px;
  line-height: 24px;
}
footer .main a {
  color: inherit;
}
footer .main a:hover {
  color: white;
}
footer .main .links {
  word-spacing: 1px;
}
footer .main .emergency_contact {
  margin-left: 10.9%;
}
footer .main .emergency_contact h2 {
  word-spacing: 1px;
}
footer .main .emergency_contact .time {
  text-transform: uppercase;
}
footer .main .emergency_contact .phone {
  word-spacing: 0px;
}
footer .main .information {
  margin-left: 9%;
}
footer .main .information h2 {
  word-spacing: 1px;
}
footer .main .information .text {
  width: 70%;
}
footer .main .information .phone_fax {
  margin-top: 24px;
  margin-bottom: 24px;
}
footer .main .information .email {
  font-family: ProximaNova-SemiBold, Arial;
}
footer .main .soc_networks {
  float: right;
  margin-top: 6px;
}
footer .main .soc_networks li {
  display: inline-block;
  margin-right: 25px;
}
footer .main .soc_networks li:last-child {
  margin-right: 0px;
}
footer .main .soc_networks a {
  display: inline-block;
  width: 31px;
  height: 31px;
  background: url("../img/footer_social_networks_bar.png");
  background-repeat: no-repeat;
}
footer .main .soc_networks li:nth-child(1) a:hover {
  background-position: right 0px;
}
footer .main .soc_networks li:nth-child(2) a {
  background-position: left -52px;
}
footer .main .soc_networks li:nth-child(2) a:hover {
  background-position: right -52px;
}
footer .main .soc_networks li:nth-child(3) a {
  background-position: left -102px;
}
footer .main .soc_networks li:nth-child(3) a:hover {
  background-position: right -102px;
}
footer .main .soc_networks li:nth-child(4) a {
  background-position: left -152px;
}
footer .main .soc_networks li:nth-child(4) a:hover {
  background-position: right -152px;
}
footer .copyright {
  background: #343434;
  color: #878787;
  padding-top: 52px;
  padding-bottom: 58px;
}
footer .copyright a {
  color: inherit;
}
footer .copyright a:hover {
  color: white;
}
footer .copyright .text_box {
  float: left;
}
footer .copyright .text_box h2,
footer .copyright .text_box span,
footer .copyright .text_box li::after,
footer .copyright .text_box a {
  font-family: ProximaNova-Bold, Arial;
  font-size: 18px;
  line-height: 24px;
}
footer .copyright .text_box h2 {
  word-spacing: -1px;
  margin-bottom: 8px;
}
footer .copyright .text_box span,
footer .copyright .text_box ul,
footer .copyright .text_box li {
  display: inline-block;
}
footer .copyright .text_box .members {
  margin-bottom: 8px;
}
footer .copyright .text_box .members ul {
  margin-left: -1px;
}
footer .copyright .text_box .members ul li {
  margin-left: 1px;
}
footer .copyright .text_box .members ul li::after {
  content: " -";
  display: inline-block;
  margin-left: 4px;
}
footer .copyright .text_box .members ul li:last-child::after {
  display: none;
}
footer .copyright .text_box .members a {
  text-transform: uppercase;
}
footer .copyright .text_box .partners ul li {
  margin-right: 9px;
}
footer .copyright .text_box .partners ul li:last-child {
  margin-right: 0px;
}
footer .copyright .text_box .partners a {
  word-spacing: -2px;
}
footer .copyright .logo {
  margin-top: 6px;
  float: right;
}
footer .copyright .logo a {
  display: inline-block;
  overflow: hidden;
}
footer .copyright .logo img {
  opacity: 0.5;
}
footer .copyright .logo img:hover {
  opacity: 1;
}

.online_quote_popup {
  position: fixed;
  top: -999%;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 1, 0.95);
  padding-top: 240px;
  z-index: 3;
  transition: all 0.7s ease-in-out;
  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
}
.online_quote_popup.show {
  top: 0px;
}
.online_quote_popup .get_quote_form {
  position: relative;
  background: white;
  padding-top: 55px;
  padding-bottom: 39px;
}
.online_quote_popup .get_quote_form::before, .online_quote_popup .get_quote_form::after {
  content: "";
  position: absolute;
  top: 0px;
  width: 40px;
  height: 100%;
  display: inline-block;
  background: lime;
}
.online_quote_popup .get_quote_form::before {
  right: 100%;
}
.online_quote_popup .get_quote_form::after {
  left: 100%;
}
.online_quote_popup .close-form {
  position: absolute;
  top: 41px;
  right: 0px;
  width: 17px;
  height: 17px;
  background: url("../img/online_quote_close_form.png");
  cursor: pointer;
}
.online_quote_popup .close-form:hover {
  background-position: top right;
}
.online_quote_popup .next-step {
  position: relative;
  display: inline-block;
  font-family: ProximaNova-SemiBold, Arial;
  font-size: 24px;
  line-height: 29px;
  color: blue;
  background: #ffff01;
  cursor: pointer;
  padding: 23px 160px 19px 28px;
  margin-top: 36px;
  float: right;
  transition: padding 0.25s linear;
  -webkit-transition: padding 0.25s linear;
  -moz-transition: padding 0.25s linear;
  -o-transition: padding 0.25s linear;
}
.online_quote_popup .next-step::after {
  content: "";
  position: absolute;
  top: 14px;
  right: 25px;
  display: inline-block;
  width: 43px;
  height: 43px;
  background: url("../img/online_quote_arrow_bar.png");
}
.online_quote_popup .next-step:hover {
  color: white;
  padding-left: 40px;
  padding-right: 148px;
}
.online_quote_popup .next-step:hover::after {
  background-position: top right;
}
.online_quote_popup .status-bar {
  position: absolute;
  bottom: 34px;
  left: 0px;
}
.online_quote_popup .status-bar .step-count {
  font-family: ProximaNova-SemiBold, Arial;
  font-size: 18px;
  line-height: 22px;
  color: blue;
  word-wrap: pre;
}
.online_quote_popup .progress-bar {
  position: absolute;
  left: -40px;
  right: -40px;
  bottom: 0px;
  height: 3px;
  background: none;
  float: none;
}
.online_quote_popup .progress-bar .progress-bar-status {
  height: 100%;
  width: 33.3333%;
  background: blue;
  transition: all 0.7s linear;
  -webkit-transition: all 0.7s linear;
  -moz-transition: all 0.7s linear;
  -o-transition: all 0.7s linear;
}
.online_quote_popup h2 {
  font-family: ProximaNova-Bold, Arial;
  font-size: 24px;
  line-height: 29px;
  color: blue;
  margin-bottom: 23px;
}
.online_quote_popup .online_quote {
  width: 50%;
  padding-right: 20px;
  float: left;
}
.online_quote_popup .online_quote a {
  display: inline-block;
}
.online_quote_popup .online_quote li {
  border-top: 2px solid #d7d7d7;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.25s linear;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
}
.online_quote_popup .online_quote li:last-child {
  border-bottom: 2px solid #d7d7d7;
}
.online_quote_popup .online_quote .info {
  float: left;
}
.online_quote_popup .online_quote .info .img {
  float: left;
}
.online_quote_popup .online_quote .info img {
  display: inline-block;
  width: 96px;
  height: 71px;
}
.online_quote_popup .online_quote .info .text_box {
  padding-top: 15px;
  margin-left: 19px;
  float: left;
}
.online_quote_popup .online_quote .info .text_box a:hover h3 {
  color: #ffff01;
}
.online_quote_popup .online_quote .info h3,
.online_quote_popup .online_quote .info h4 {
  color: blue;
}
.online_quote_popup .online_quote .info h3 {
  font-family: ProximaNova-SemiBold, Arial;
  font-size: 18px;
  line-height: 22px;
}
.online_quote_popup .online_quote .info h4 {
  font-family: ProximaNova-Regular, Arial;
  font-size: 14px;
  line-height: 17px;
  margin-top: 3px;
}
.online_quote_popup .online_quote .info h4 span {
  font-family: ProximaNova-SemiBold, Arial;
}
.online_quote_popup .online_quote .right_section {
  margin-top: 14px;
  float: right;
}
.online_quote_popup .online_quote .right_section label {
  display: inline-block;
  position: relative;
  font-family: ProximaNova-SemiBold, Arial;
  font-size: 18px;
  font-weight: normal;
  line-height: 22px;
  color: blue;
  margin: 0px;
  float: left;
}
.online_quote_popup .online_quote .right_section select {
  font-family: ProximaNova-Regular, Arial;
  font-size: 18px;
  line-height: 22px;
  color: blue;
  border: 3px solid blue;
  background: url("../img/select_arrow.png");
  background-repeat: no-repeat;
  background-position: right 14px center;
  padding: 0px 46px 2px 9px;
  margin-left: 11px;
  outline: 0;
  /*for WebKit */
  -webkit-appearance: none;
  /* for FF */
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: "";
  /* for IE */
  -ms-appearance: none;
  appearance: none !important;
}
.online_quote_popup .online_quote .right_section select:focus {
  color: white;
  background-color: blue;
  background-image: url("../img/select_arrow_focus.png");
}
.online_quote_popup .online_quote .right_section select option {
  color: white;
  background: blue;
  padding: 7.5px 0px 7.5px 15px;
}
.online_quote_popup .online_quote .right_section select option:hover, .online_quote_popup .online_quote .right_section select option:focus {
  color: #ffff01;
  background: blue;
}
.online_quote_popup .online_quote .right_section .delete {
  display: inline-block;
  width: 45px;
  height: 44px;
  border: 3px solid blue;
  background: url("../img/online_quote_item_delete.png");
  cursor: pointer;
  float: left;
  margin-left: 21px;
}
.online_quote_popup .online_quote .right_section .delete:hover {
  background-color: blue;
  background-position: top right;
}
.online_quote_popup .event_type {
  width: 50%;
  padding-left: 20px;
  float: left;
}
.online_quote_popup .event_type li {
  padding-top: 25px;
  padding-bottom: 23px;
  border-top: 2px solid #d7d7d7;
}
.online_quote_popup .event_type li:last-child {
  border-bottom: 2px solid #d7d7d7;
}
.online_quote_popup .event_type .info {
  float: left;
}
.online_quote_popup .event_type .info h3,
.online_quote_popup .event_type .info h4 {
  color: blue;
}
.online_quote_popup .event_type .info h3 {
  font-family: ProximaNova-SemiBold, Arial;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
}
.online_quote_popup .event_type .info h4 {
  font-family: ProximaNova-Regular, Arial;
  font-size: 14px;
  line-height: 21px;
}
.online_quote_popup .event_type .input_box {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
  position: relative;
  cursor: pointer;
  margin-top: 6px;
  float: right;
}
.online_quote_popup .event_type input {
  width: 14px;
  height: 14px;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -7px;
  cursor: pointer;
  z-index: 10;
  opacity: 0;
}
.online_quote_popup .event_type label {
  font-size: 14px;
  line-height: 22px;
  display: block;
  padding-left: 45px;
  position: relative;
  z-index: 1;
  cursor: pointer;
}
.online_quote_popup .event_type label::before {
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  width: 45px;
  height: 44px;
  margin-top: -7px;
  border: 3px solid blue;
  z-index: 5;
  content: "";
}
.online_quote_popup .event_type input[checked="checked"] + label::before {
  background-color: blue;
  background-image: url("../img/input_checkbox_arrow.png");
}
.online_quote_popup .contact_details {
  width: 66.6666%;
  padding-right: 12px;
  float: left;
}
.online_quote_popup .contact_details .first_section,
.online_quote_popup .contact_details .second_section {
  width: 50%;
  float: left;
}
.online_quote_popup .contact_details .first_section::before,
.online_quote_popup .contact_details .second_section::before {
  content: "";
  display: block;
  border-top: 2px solid #d7d7d7;
}
.online_quote_popup .contact_details .first_section {
  padding-right: 20px;
}
.online_quote_popup .contact_details .second_section {
  padding-left: 19px;
}
.online_quote_popup .contact_details label {
  display: block;
  font-family: ProximaNova-SemiBold, Arial;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: blue;
  margin-top: 23px;
}
.online_quote_popup .contact_details input {
  font-family: ProximaNova-Regular, Arial;
  font-size: 18px;
  line-height: 22px;
  color: blue;
  border: 3px solid #d7d7d7;
  width: 100%;
  padding: 8px 15px;
}
.online_quote_popup .contact_details input:focus {
  border-color: blue;
}
.online_quote_popup .contact_details input:invalid {
  border-color: red;
  outline: none;
}
.online_quote_popup .contact_details select {
  font-family: ProximaNova-Regular, Arial;
  font-size: 18px;
  line-height: 22px;
  color: #d7d7d7;
  width: 100%;
  border: 3px solid #d7d7d7;
  background: url("../img/select_arrow.png");
  background-repeat: no-repeat;
  background-position: right 14px center;
  padding: 0px 46px 2px 8px;
  outline: 0;
  /*for WebKit */
  -webkit-appearance: none;
  /* for FF */
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: "";
  /* for IE */
  -ms-appearance: none;
  appearance: none !important;
}
.online_quote_popup .contact_details select:focus {
  color: white;
  border-color: blue;
  background-color: blue;
  background-image: url("../img/select_arrow_focus.png");
}
.online_quote_popup .contact_details select option {
  color: white;
  background: blue;
  padding: 7.5px 0px 7.5px 15px;
}
.online_quote_popup .contact_details select option:hover, .online_quote_popup .contact_details select option:focus {
  color: #ffff01;
  background: blue;
}
.online_quote_popup .requirements {
  width: 33.3333%;
  padding-left: 25px;
  float: left;
}
.online_quote_popup .requirements li {
  padding-top: 25px;
  padding-bottom: 24px;
  border-top: 2px solid #d7d7d7;
}
.online_quote_popup .requirements li:last-child {
  border-bottom: 2px solid #d7d7d7;
}
.online_quote_popup .requirements .info {
  float: left;
}
.online_quote_popup .requirements .info h3,
.online_quote_popup .requirements .info h4 {
  color: blue;
}
.online_quote_popup .requirements .info h3 {
  font-family: ProximaNova-SemiBold, Arial;
  font-size: 18px;
  line-height: 22px;
}
.online_quote_popup .requirements .info h4 {
  font-family: ProximaNova-Regular, Arial;
  font-size: 14px;
  line-height: 21px;
}
.online_quote_popup .requirements .input_box {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
  position: relative;
  cursor: pointer;
  margin-top: 6px;
  float: right;
}
.online_quote_popup .requirements input {
  width: 14px;
  height: 14px;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -7px;
  cursor: pointer;
  z-index: 10;
  opacity: 0;
}
.online_quote_popup .requirements label {
  font-size: 14px;
  line-height: 22px;
  display: block;
  padding-left: 45px;
  position: relative;
  z-index: 1;
  cursor: pointer;
}
.online_quote_popup .requirements label::before {
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  width: 45px;
  height: 44px;
  margin-top: -7px;
  border: 3px solid blue;
  z-index: 5;
  content: "";
}
.online_quote_popup .requirements input:checked + label::before {
  background-color: blue;
  background-image: url("../img/input_checkbox_arrow.png");
}
.online_quote_popup .event_details {
  width: 66.6666%;
  padding-right: 12px;
  float: left;
}
.online_quote_popup .event_details .first_section,
.online_quote_popup .event_details .second_section {
  width: 50%;
  float: left;
}
.online_quote_popup .event_details .first_section::before,
.online_quote_popup .event_details .second_section::before {
  content: "";
  display: block;
  border-top: 2px solid #d7d7d7;
}
.online_quote_popup .event_details .first_section {
  padding-right: 20px;
}
.online_quote_popup .event_details .second_section {
  padding-left: 19px;
}
.online_quote_popup .event_details label {
  display: block;
  font-family: ProximaNova-SemiBold, Arial;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: blue;
  margin-top: 23px;
  clear: both;
}
.online_quote_popup .event_details input {
  font-family: ProximaNova-Regular, Arial;
  font-size: 18px;
  line-height: 22px;
  color: blue;
  border: 3px solid #d7d7d7;
  width: 100%;
  padding: 8px 15px;
}
.online_quote_popup .event_details input:focus {
  border-color: blue;
}
.online_quote_popup .event_details input:invalid {
  border-color: red;
  outline: none;
}
.online_quote_popup .event_details select {
  font-family: ProximaNova-Regular, Arial;
  font-size: 18px;
  line-height: 22px;
  color: #d7d7d7;
  width: 100%;
  border: 3px solid #d7d7d7;
  background: url("../img/select_arrow.png");
  background-repeat: no-repeat;
  background-position: right 14px center;
  padding: 1px 46px 1px 10px;
  outline: 0;
  /*for WebKit */
  -webkit-appearance: none;
  /* for FF */
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: "";
  /* for IE */
  -ms-appearance: none;
  appearance: none !important;
}
.online_quote_popup .event_details select:focus {
  color: white;
  border-color: blue;
  background-color: blue;
  background-image: url("../img/select_arrow_focus.png");
}
.online_quote_popup .event_details select option {
  color: white;
  background: blue;
  padding: 7.5px 0px 7.5px 15px;
}
.online_quote_popup .event_details select option:hover, .online_quote_popup .event_details select option:focus {
  color: #ffff01;
  background: blue;
}
.online_quote_popup .event_details .two_inputs {
  width: 46.9%;
  float: left;
  margin-right: 10px;
  margin-bottom: 23px;
}
.online_quote_popup .event_details .two_inputs + .two_inputs {
  margin-right: 0px;
  margin-left: 10px;
}
.online_quote_popup .event_details .address_same_address h4 {
  display: inline-block;
  font-family: ProximaNova-SemiBold, Arial;
  font-size: 18px;
  line-height: 22px;
  color: blue;
  width: 72%;
}
.online_quote_popup .event_details .input_box {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
  position: relative;
  cursor: pointer;
  margin-top: 6px;
  float: right;
}
.online_quote_popup .event_details .input_box input {
  width: 14px;
  height: 14px;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -7px;
  cursor: pointer;
  z-index: 10;
  opacity: 0;
}
.online_quote_popup .event_details .input_box label {
  font-size: 14px;
  line-height: 22px;
  display: block;
  padding-left: 45px;
  position: relative;
  z-index: 1;
  cursor: pointer;
  margin-top: 0px;
}
.online_quote_popup .event_details .input_box label::before {
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  width: 45px;
  height: 44px;
  margin-top: -7px;
  border: 3px solid blue;
  z-index: 5;
  content: "";
}
.online_quote_popup .event_details .input_box input:checked + label::before {
  background-color: blue;
  background-image: url("../img/input_checkbox_arrow.png");
}
