$bl:	#00f
$ye:	#ffff01
$pnr:	ProximaNova-Regular, Arial
$pnb:	ProximaNova-Bold, Arial
$pnsb:	ProximaNova-SemiBold, Arial
$krb:	KroppenRound-Bold, Arial

.container
	@media (min-width: 1920px)
		width: 1704px
		padding-right: 20px
		padding-left: 20px
.row
	@media (min-width: 1920px)
		margin-right: -20px
		margin-left: -20px
.col-bg-2,
.col-bg-3,
.col-bg-4,
.col-bg-5,
.col-bg-6,
.col-bg-7,
.col-bg-8
	@media (min-width: 1920px)
		float: left
		position: relative
		min-height: 1px
		padding-right: 20px
		padding-left: 20px
.col-bg-2
	@media (min-width: 1920px)
		width: 16.6667%
.col-bg-3
	@media (min-width: 1920px)
		width: 25%
.col-bg-4
	@media (min-width: 1920px)
		width: 33.3333%
.col-bg-5
	@media (min-width: 1920px)
		width: 41.6667%
.col-bg-6
	@media (min-width: 1920px)
		width: 50%
.col-bg-7
	@media (min-width: 1920px)
		width: 58.3333%
.col-bg-8
	@media (min-width: 1920px)
		width: 66.6667%
.col-bg-offset-2
	@media (min-width: 1920px)
		margin-left: 16.6667%
ul,
ol,
h1,
h2,
h3,
h4
	margin: 0px
li
	list-style: none
a,
a:focus,
a:hover
	text-decoration: none
body
	margin-top: 50px
header
	background: $bl
	padding-top: 11px
	padding-bottom: 10px
	z-index: 2 !important
	li
		list-style: none
		float: left
		a
			font-size: 16px
			line-height: 20px
			color: $ye
			&:focus
				color: $ye
				text-decoration: none
			&:hover
				color: #fff
				text-decoration: none
	nav
		padding-top: 4px
		li
			margin-right: 25px
			&:last-child
				margin-right: 0px
			a
				font-family: $pnr
	.country
		position: relative
		// left: 45px
		left: 14%
		padding-top: 4px
		li
			margin-right: 4px
			&::after
				content: ''
				display: inline-block
				width: 2px
				height: 11px
				background: #ffff0f 1px
				margin-left: 5px
			&:last-child::after
				display: none
			a
				font-family: $pnb
	.free_call
		margin-left: 10.8%
		h4
			display: inline-block
			font-family: $pnr
			font-size: 21px
			line-height: 26px
			color: $ye
			text-transform: uppercase
			&.banner
				color: $bl
				background: $ye
				border-radius: 4px
				word-spacing: -1px
				padding: 2px 8px 0px 8px
				margin-right: 11px
			em
				display: inline-block
				width: 4px
				border-bottom: 2px solid $ye
				margin-bottom: 6px
				margin: 0px 1px 6px
	.online_quote
		float: right
		font-family: $pnb
		margin-right: 1px
		a
			color: $ye
			&:hover
				color: #fff
				span
					background-position: left bottom
		h4,
		span
			display: inline-block
			font-size: 16px
		h4
			line-height: 20px
			margin-right: 6px
		span
			width: 31px
			height: 29px
			line-height: 29px
			background: url('../img/online_quote_bg.png')
			text-align: center
	//End .online_quote
.header_nav_and_slider
	position: relative
	width: 100%
	height: 100%
	overflow: hidden
	.slider_top_height
		position: absolute
		height: 100%
	// .logo_and_nav,
	// .slider_top
	// 	padding-bottom: 10000px
	// 	margin-bottom: -10000px
	.logo_and_nav
		position: relative
		float: left
		width: 21.458333%
		background: $ye
		padding-top: 46px
		padding-left: 6.68%
		.logo
			margin-left: -1px
		nav
			margin-top: 51px
			margin-left: -1px
			padding-bottom: 67px
			li
				margin-bottom: 20px
				&:nth-child(1) a::before
					background: url('../img/nav_logo_1.png')
					// background-position: 0px 0px
				&:nth-child(2)
					margin-bottom: 19px
					a
						line-height: 42px
						&::before
							background: url('../img/nav_logo_2.png')
							// background-position: 0px -54px
				&:nth-child(3)
					margin-bottom: 18px
					a
						line-height: 36px
						&::before
							background: url('../img/nav_logo_3.png')
							// background-position: 0px -115px
				&:nth-child(4)
					margin-bottom: 18px
					a
						line-height: 45px
						&::before
							background: url('../img/nav_logo_4.png')
							// background-position: 0px -169px
				&:nth-child(5)
					margin-bottom: 22px
					a::before
						background: url('../img/nav_logo_5.png')
						// background-position: 0px -232px
				&:nth-child(6)
					margin-bottom: 25px
					a
						line-height: 39px
						&::before
							background: url('../img/nav_logo_6.png')
							// background-position: 0px -288px
				&:nth-child(7)
					margin-bottom: 27px
					a
						line-height: 27px
						&::before
							background: url('../img/nav_logo_7.png')
							// background-position: 0px -352px
				&:nth-child(8)
					margin-bottom: 30px
					a::before
						background: url('../img/nav_logo_8.png')
						// background-position: 0px -406px
				&:nth-child(9) a
					line-height: 22px
					&::before
						background: url('../img/nav_logo_9.png')
						// background-position: 0px -470px
			a
				position: relative
				display: inline-block
				font-family: $pnsb
				font-size: 18px
				line-height: 34px
				color: $bl
				padding-left: 62px
				transition: all .25s linear
				-webkit-transition: all .25s linear
				-moz-transition: all .25s linear
				-o-transition: all .25s linear
				&:hover
					opacity: 1 !important
				&::before
					content: ''
					position: absolute
					top: 0px
					left: 0px
					display: block
					width: 45px
					height: 45px
					background: url('../img/nav_logo_bars.png')
	//End nav
	.slider_top
		position: relative
		float: left
		width: 78.541667%
		height: 100%
		background: #d5d5d5
		img
			width: 100%
		.slider_top_content
			position: absolute
			bottom: 121px
			left: 76px
			width: 70%
			h1
				font-family: $krb
				font-size: 86px
				line-height: 87px
				color: $bl
				word-spacing: 2px
				margin-bottom: 81px
				.bg
					background: #ffffff
					// position: relative
					outline: 21px solid #ffffff
					-moz-outline-offset: -0.04em
					span
						position: relative
			.read_more
				font-family: $pnr
				font-size: 30px
				line-height: 36px
				color: $bl
				background: $ye
				text-transform: uppercase
				border-radius: 5px
				padding: 14px 24px 12px 21px
				margin-left: -21px
				transition: all .25s linear
				-webkit-transition: all .25s linear
				-moz-transition: all .25s linear
				-o-transition: all .25s linear
				&:hover
					background: #fff
		.slick-prev,
		.slick-next
			display: none !important
		.slick_dots_box
			position: relative
		.slick-dots
			position: absolute
			bottom: 51px
			left: 56px
			li
				display: inline-block
				margin-right: 18px
				&:last-child
					margin-right: 0px
				button
					width: 20px
					height: 20px
					border: 3px solid #fff
					border-radius: 50%
					color: transparent
					background: transparent
					outline: none
				&.slick-active button
					background: #fff
	//End .slider_top
//End .header_nav_and_slider
.we_rent_fun
	background: #f6f6f6
	padding-top: 50px
	padding-bottom: 48px
	.text
		font-family: $pnsb
		font-size: 30px
		line-height: 36px
		color: $bl
		letter-spacing: -1px
		margin-top: 46px
	.logo
		margin-left: 25.15%
//End .we_rent_fun
.featured_products
	padding-top: 69px
	padding-bottom: 91px
	.name
		font-family: $pnsb
		font-size: 36px
		line-height: 44px
		color: $bl
		margin-top: 0px
		margin-bottom: 41px
	.cd-item
		height: 495px
		img
			height: 396px
		.cd-trigger
			top: 0px
			font-family: $pnsb
			font-size: 19px
			height: 396px
			line-height: 396px
			color: #fff
			background: rgba(0, 0, 255, .2)
			&:hover
				background: rgba(0, 0, 255, .3)
			&::before
				content: ''
				position: absolute
				top: 50%
				left: 50%
				margin-top: -43px
				margin-left: -21px
				display: inline-block
				width: 42px
				height: 25px
				background: url('../img/quick_view_eye.png')
		.information
			background: $ye
			padding: 22px 30px 24px 29px
			.information_box
				width: 55%
				float: left
				margin-top: 1px
			h3,
			h4
				display: inline-block
				color: $bl
			h3
				font-family: $pnsb
				font-size: 24px
				line-height: 28px
				&:hover
					color: #fff
			h4
				font-family: $pnr
				font-size: 18px
				line-height: 19px
				margin-left: 1px
			.read_more
				height: 48px
				float: right
				margin-top: 5px
				a
					position: relative
					display: inline-block
					width: 43px
					height: 43px
					border-radius: 50px
					border: 3px solid $bl
					// transition: all .25s linear
					// -webkit-transition: all .25s linear
					// -moz-transition: all .25s linear
					// -o-transition: all .25s linear
					&::before
						content: 'Read more'
						display: none
						font-family: $pnsb
						font-size: 18px
						line-height: 38px
						color: $ye
						text-transform: uppercase
						margin-left: 19px
						// transition: margin-left .25s linear
						// -webkit-transition: margin-left .25s linear
						// -moz-transition: margin-left .25s linear
						// -o-transition: margin-left .25s linear
					&::after
						content: ''
						position: absolute
						top: 7px
						right: 7px
						display: block
						width: 23px
						height: 23px
						background: url('../img/read_more_plus.png')
						background-repeat: no-repeat
						background-position: top left
		&:hover .read_more a 
			width: 176px
			background: $bl
			&::before
				display: inline-block
				// -webkit-transition-delay: 0.5s
				// -o-transition-delay: 0.5s
				// -moz-transition-delay: 0.5s
				// transition-delay: 0.5s
			&::after
				background-position: bottom left
	#cd-quick-view-coverlay
		background: rgba(255, 255, 1, .95)
	.cd-quick-view
		max-width: initial
	.cd-slider li img
		width: 587px
		max-width: initial
		height: 466px
	.cd-close
		top: 26px
		right: 29px
		&::before,
		&::after
			height: 3px
			width: 23px
			background: $bl
	.cd-slider-wrapper
		margin-right: 60px
	.cd-slider-navigation li
		&:first-child
			left: 34px
			a
				&::before,
				&::after
					left: 10px
		&:last-child
			right: 34px
			a
				&::before,
				&::after
					left: 12px
		a
			&:hover
				background: none
			&::before,
			&::after
				width: 16px
				height: 4px
			&::before
				top: 18px
			&::after
				top: 21px
	.add-content
		.cd-slider
			margin-right: 0px
		.cd-item-info
			padding-bottom: 10px
			h2
				font-family: $pnsb
				font-size: 36px
				line-height: 43px
				color: $bl
				margin-top: 10px
				margin-bottom: 8px
			p
				font-family: $pnr
				font-size: 18px
				line-height: 26px
				color: #000
				padding-right: 2px
				margin-top: 22px
				margin-bottom: 41px
	.cd-item-info .cd-item-action li:first-child
		margin-left: 0px
	.cd-item-info .cd-item-action li
		display: block
		&:first-child
			margin-bottom: 30px
		a,
		button
			position: relative
			font-family: $pnsb
			font-size: 24px
			line-height: 29px
			width: 285px
			padding: 23px 25px 19px 28px
			transition: all .2s linear
			-webkit-transition: all .2s linear
			-moz-transition: all .2s linear
			-o-transition: all .2s linear
			&::after
				content: ''
				position: absolute
				top: 14px
				right: 24px
				display: block
				width: 43px
				height: 43px
				background-repeat: no-repeat
		a
			display: inline-block
			color: $ye
			background: $bl
			&::after
				background-image: url('../img/catalogue_arrow_bar_and_read_more.png')
				background-position: top right
			&:hover
				color: $bl
				background: $ye
				&::after
					background-position: top left
		button
			color: $bl
			border-radius: 0px
			text-align: left
			background: $ye
			&::after
				background-image: url('../img/add_to_quote.png')
			&:hover
				color: $ye
				background: $bl
				&::after
					background-position: top right
	.cd-items
		.slick-prev,
		.slick-next
			position: absolute
			top: 0px
			bottom: 0px
			font-size: 0px
			width: 120px
			background: transparent
			outline: none
			border: none
			transition: all .2s linear
			-webkit-transition: all .2s linear
			-moz-transition: all .2s linear
			-o-transition: all .2s linear
			&:hover
				background: rgba(0, 0, 0, .05)
			&::before
				content: ''
				display: inline-block
				width: 32px
				height: 61px
				background: url('../img/featured_products_arrows_prev_next.png')
				background-repeat: no-repeat
		.slick-prev
			left: -100px
		.slick-next
			right: -100px
			&::before
				background-position: left bottom
//End .featured_products
.reviews_block
	background: $bl
	padding-top: 76px
	padding-bottom: 60px
	.cd-testimonials-wrapper
		width: 100%
		max-width: 1200px
		padding: 0px
		background: transparent
		text-align: center
		margin: 0px auto
		&::after
			display: none
	.cd-see-all
		background: transparent
	.slick-prev,
	.slick-next
		display: none !important
	.cd-testimonials p
		font-family: $pnsb
		font-style: normal
		font-size: 22px
		line-height: 32px
		color: $ye
		margin-bottom: 32px
	.cd-author .cd-author-info li
		display: inline-block
		font-family: $pnsb
		font-size: 30px
		line-height: 36px
		color: $ye
		&:first-child
			white-space: pre-wrap
		// &::after
		// 	content: ''
		// 	display: inline-block
	.slick_dots_box
		margin-top: 78px
		.slick-dots
			li
				display: inline-block
				margin-right: 18px
				&:last-child
					margin-right: 0px
				button
					width: 20px
					height: 20px
					border: 3px solid $ye
					border-radius: 50%
					color: transparent
					background: transparent
					outline: none
				&.slick-active button
					background: $ye
	.cd-see-all
		position: relative
		display: inline-block
		font-family: $pnsb
		font-size: 18px
		font-weight: normal
		line-height: 22px
		color: $bl
		width: initial
		height: initial
		background: $ye
		border-radius: 50px
		padding: 10px 84px 11px 20px
		margin-top: 48px
		&:hover
			color: $bl
			background: #fff
		&:after
			content: ''
			position: absolute
			top: 9px
			right: 20px
			display: inline-block
			width: 42px
			height: 25px
			background: url('../img/view_all_eye.png') no-repeat right center
//End .reviews_block
.product_categories
	padding-top: 76px
	padding-bottom: 62px
	li
		margin-bottom: 38px
	.name
		font-family: $pnsb
		font-size: 36px
		line-height: 44px
		color: $bl
		margin-bottom: 38px
	a:hover .img_box
		position: relative
		&::after
			content: ''
			display: block
			position: absolute
			top: 0px
			left: 0px
			width: 100%
			height: 100%
			background: rgba(0, 0, 255, .3)
	img
		width: 100%
		height: 259px
		background: #d5d5d5
	.information
		background: $ye
		padding: 27px 28px 24px 32px
		.logo
			display: block
			width: 65px
			height: 59px
			float: left
			margin-right: 22px
	a:hover .information
		background: $bl
	ul li
		&:nth-child(1) .information .logo
			background: url('../img/product_categories_logo_1.png')
		&:nth-child(1) a:hover .information .logo
			background: url('../img/product_categories_logo_1_hover.png')
		&:nth-child(2) .information .logo
			background: url('../img/product_categories_logo_2.png')
		&:nth-child(3) .information .logo
			background: url('../img/product_categories_logo_3.png')
		&:nth-child(4) .information .logo
			background: url('../img/product_categories_logo_4.png')
		&:nth-child(5) .information .logo
			background: url('../img/product_categories_logo_5.png')
		&:nth-child(6) .information .logo
			background: url('../img/product_categories_logo_6.png')
		&:nth-child(7) .information .logo
			background: url('../img/product_categories_logo_7.png')
		&:nth-child(8) .information .logo
			background: url('../img/product_categories_logo_8.png')
		.text_box
			float: left
		h3,
		h4
			color: $bl
		a:hover
			h3,
			h4
				color: $ye
		h3
			font-family: $pnb
			font-size: 24px
			line-height: 29px
			margin-top: 2px
		h4
			font-family: $pnr
			font-size: 18px
			line-height: 26px
//End .product_categories
.instagram_feed
	li
		width: 16.6666%
		height: 321px
		float: left
		overflow: hidden
	a
		position: relative
		display: inline-block
		overflow: hidden
		width: 100%
		height: 100%
	img
		background: #b3b3b3
		width: 100%
		height: 100%
	.information
		position: absolute
		top: 0px
		left: 0px
		height: 100%
		width: 0%
		background: rgba(255, 255, 1, .9)
		transition: all .25s linear
		-webkit-transition: all .25s linear
		-moz-transition: all .25s linear
		-o-transition: all .25s linear
		padding-top: 27px
	a:hover .information
		width: 100%
	h2,
	h3,
	h4
		font-size: 14px
		color: $bl
		opacity: 0
		margin-right: 29px
		margin-left: 29px
	a:hover
		h2,
		h3,
		h4
			transition: opacity .25s linear
			-webkit-transition: opacity .25s linear
			-moz-transition: opacity .25s linear
			-o-transition: opacity .25s linear
			transition-delay: .35s
			-webkit-transition-delay: .35s
			-moz-transition-delay: .35s
			-o-transition-delay: .35s
			opacity: 1
	h2
		font-family: $pnb
		line-height: 24px
		background: url('../img/instagram_icon.png')
		background-repeat: no-repeat
		padding-left: 38px
		margin-bottom: 21px
	h3
		font-family: $pnsb
		line-height: 19px
	h4
		position: absolute
		left: 0px
		bottom: 23px
		font-family: $pnb
		line-height: 17px
//End .instagram_feed
.video_follow_catalogue
	padding-top: 66px
	padding-bottom: 96px
	h2
		font-family: $pnsb
		font-size: 36px
		line-height: 44px
		color: $bl
		margin-bottom: 36px
	.latest_video
		iframe
			width: 100%
			height: 450px
	.follow_us
		li
			margin-bottom: 32px
		a
			position: relative
			display: inline-block
			font-family: $pnr
			font-size: 24px
			line-height: 29px
			color: $bl
			width: 100%
			background: $ye
			padding: 23px 25px 19px 86px
			&:hover
				color: $ye
				background: $bl
			&::before
				content: ''
				position: absolute
				top: 22px
				left: 28px
				display: inline-block
				width: 31px
				height: 31px
				background: url('../img/social_networks_bar.png') no-repeat
		ul li
			&:nth-child(1) a
				&:hover::before
					background-position: right 0px
			&:nth-child(2) a
				&::before
					top: 21px
					background-position: 0px -52px
				&:hover::before
					background-position: right -52px
			&:nth-child(3) a
				&::before
					top: 21px
					background-position: 0px -102px
				&:hover::before
					background-position: right -102px
			&:nth-child(4) a
				&::before
					top: 20px
					background-position: 0px -152px
				&:hover::before
					background-position: right -152px
	.catalogue
		li
			margin-bottom: 32px
		a
			position: relative
			display: inline-block
			font-family: $pnsb
			font-size: 24px
			line-height: 29px
			color: $bl
			width: 100%
			background: $ye
			padding: 23px 25px 19px 28px
			&:hover
				color: $ye
				background: $bl
			&::after
				content: ''
				position: absolute
				top: 14px
				right: 30px
				display: inline-block
				width: 43px
				height: 43px
				background: url('../img/catalogue_arrow_bar_and_read_more.png') no-repeat
			&:hover::after
				background-position: right 0px
//End .video_follow_catalogue
footer
	.main
		background: $bl
		color: $ye
		padding-top: 53px
		padding-bottom: 46px
		a,
		h2
			font-family: $pnr
			font-size: 18px
			line-height: 24px
		a
			color: inherit
			&:hover
				color: #fff
		.links
			word-spacing: 1px
		.emergency_contact
			margin-left: 10.9%
			h2
				word-spacing: 1px
			.time
				text-transform: uppercase
			.phone
				word-spacing: 0px
		.information
			margin-left: 9%
			h2
				word-spacing: 1px
			.text
				width: 70%
			.phone_fax
				margin-top: 24px
				margin-bottom: 24px
			.email
				font-family: $pnsb
		.soc_networks
			float: right
			margin-top: 6px
			// margin-right: -2px
			li
				display: inline-block
				margin-right: 25px
				&:last-child
					margin-right: 0px
			a
				display: inline-block
				width: 31px
				height: 31px
				background: url('../img/footer_social_networks_bar.png')
				background-repeat: no-repeat
			li
				&:nth-child(1) a
					&:hover
						background-position: right 0px
				&:nth-child(2) a
					background-position: left -52px
					&:hover
						background-position: right -52px
				&:nth-child(3) a
					background-position: left -102px
					&:hover
						background-position: right -102px
				&:nth-child(4) a
					background-position: left -152px
					&:hover
						background-position: right -152px
	//End .main
	.copyright
		background: #343434
		color: #878787
		padding-top: 52px
		padding-bottom: 58px
		a
			color: inherit
			&:hover
				color: #fff
		.text_box
			float: left
			h2,
			span,
			li::after,
			a
				font-family: $pnb
				font-size: 18px
				line-height: 24px
			h2
				word-spacing: -1px
				margin-bottom: 8px
			span,
			ul,
			li
				display: inline-block
			.members
				margin-bottom: 8px
				ul
					margin-left: -1px
					li
						margin-left: 1px
						&::after
							content: ' -'
							display: inline-block
							margin-left: 4px
						&:last-child::after
							display: none
				a
					text-transform: uppercase
			.partners
				ul li
					margin-right: 9px
					&:last-child
						margin-right: 0px
				a
					word-spacing: -2px
		.logo
			margin-top: 6px
			float: right
			a
				display: inline-block
				overflow: hidden
			img
				opacity: .5
				&:hover
					opacity: 1
	//End .copyright
//Footer
.online_quote_popup
	position: fixed
	top: -999%
	left: 0px
	width: 100%
	height: 100%
	background: rgba(255, 255, 1, .95)
	padding-top: 240px
	z-index: 3
	transition: all .7s ease-in-out
	-webkit-transition: all .7s ease-in-out
	-moz-transition: all .7s ease-in-out
	-o-transition: all .7s ease-in-out
	&.show
		top: 0px
	.get_quote_form
		position: relative
		background: #fff
		padding-top: 55px
		padding-bottom: 39px
		&::before,
		&::after
			content: ''
			position: absolute
			top: 0px
			width: 40px
			height: 100%
			display: inline-block
			background: #fff
			z-index: -1
		&::before
			right: 100%
		&::after
			left: 100%
	.close-form
		position: absolute
		top: 41px
		right: 0px
		width: 17px
		height: 17px
		background: url('../img/online_quote_close_form.png')
		cursor: pointer
		&:hover
			background-position: top right
	.next-step
		position: relative
		display: inline-block
		font-family: $pnsb
		font-size: 24px
		line-height: 29px
		color: $bl
		background: $ye
		cursor: pointer
		padding: 23px 160px 19px 28px
		margin-top: 36px
		clear: both
		float: right
		transition: padding .25s linear
		-webkit-transition: padding .25s linear
		-moz-transition: padding .25s linear
		-o-transition: padding .25s linear
		&::after
			content: ''
			position: absolute
			top: 14px
			right: 25px
			display: inline-block
			width: 43px
			height: 43px
			background: url('../img/online_quote_arrow_bar.png')
		&:hover
			color: #fff
			padding-left: 40px
			padding-right: 148px
			&::after
				background-position: top right
	.status-bar
		position: absolute
		bottom: 34px
		left: 0px
		.step-count
			font-family: $pnsb
			font-size: 18px
			line-height: 22px
			color: $bl
			word-wrap: pre
	.progress-bar
		position: absolute
		left: -40px
		right: -40px
		bottom: 0px
		height: 3px
		// width: 100%
		background: none
		float: none
		// margin-left: -20px
		// margin-right: -20px
		.progress-bar-status
			height: 100%
			width: 33.3333%
			background: $bl
			transition: all .7s linear
			-webkit-transition: all .7s linear
			-moz-transition: all .7s linear
			-o-transition: all .7s linear
	h2
		font-family: $pnb
		font-size: 24px
		line-height: 29px
		color: $bl
		margin-bottom: 23px
	.online_quote
		width: 50%
		padding-right: 20px
		float: left
		// h2
		// 	font-family: $pnb
		// 	font-size: 24px
		// 	line-height: 29px
		// 	color: $bl
		// 	margin-bottom: 23px
		a
			display: inline-block
		li
			border-top: 2px solid #d7d7d7
			padding-top: 10px
			padding-bottom: 11px
			transition: all .25s linear
			-webkit-transition: all .25s linear
			-moz-transition: all .25s linear
			-o-transition: all .25s linear
			// &:nth-child(2n)
			// 	// padding-top: 10px
			// 	padding-bottom: 12px
			&:last-child
				border-bottom: 2px solid #d7d7d7
		.info
			float: left
			.img
				float: left
			img
				display: inline-block
				width: 96px
				height: 71px
			.text_box
				padding-top: 15px
				margin-left: 19px
				float: left
				a:hover h3
					color: $ye
			h3,
			h4
				color: $bl
			h3
				font-family: $pnsb
				font-size: 18px
				line-height: 22px
			h4
				font-family: $pnr
				font-size: 14px
				line-height: 17px
				margin-top: 3px
				span
					font-family: $pnsb
		.right_section
			margin-top: 14px
			float: right
			label
				display: inline-block
				position: relative
				font-family: $pnsb
				font-size: 18px
				font-weight: normal
				line-height: 22px
				color: $bl
				margin: 0px
				float: left
			select
				font-family: $pnr
				font-size: 18px
				line-height: 22px
				color: $bl
				border: 3px solid $bl
				background: url('../img/select_arrow.png')
				background-repeat: no-repeat
				background-position: right 14px center
				padding: 0px 46px 2px 9px
				margin-left: 11px
				outline: 0
				/*for WebKit*/
				-webkit-appearance: none
				/* for FF */
				-moz-appearance: none
				text-indent: 0.01px
				text-overflow: ''
				/* for IE */
				-ms-appearance: none
				appearance: none !important
				&:focus
					color: #fff
					background-color: $bl
					background-image: url('../img/select_arrow_focus.png')
				option
					color: #fff
					background: $bl
					padding: 7.5px 0px 7.5px 15px
					&:hover,
					&:focus
						color: $ye
						background: $bl
			.delete
				display: inline-block
				width: 45px
				height: 44px
				border: 3px solid $bl
				background: url('../img/online_quote_item_delete.png')
				cursor: pointer
				float: left
				margin-left: 21px
				&:hover
					background-color: $bl
					background-position: top right
	//End .online_quote
	.event_type
		width: 50%
		padding-left: 20px
		float: left
		// h2
		// 	font-family: $pnb
		// 	font-size: 24px
		// 	line-height: 29px
		// 	color: $bl
		// 	margin-bottom: 23px
		li
			padding-top: 25px
			padding-bottom: 24px
			border-top: 2px solid #d7d7d7
			&:last-child
				border-bottom: 2px solid #d7d7d7
		.info
			float: left
			h3,
			h4
				color: $bl
			h3
				font-family: $pnsb
				font-size: 18px
				line-height: 22px
				text-transform: uppercase
			h4
				font-family: $pnr
				font-size: 14px
				line-height: 21px
		.input_box
			display: inline-block
			*display: inline /* inline-block ie7 fix */
			*zoom: 1
			vertical-align: top
			position: relative
			cursor: pointer
			margin-top: 6px
			float: right
		input
			width: 14px
			height: 14px
			margin: 0
			padding: 0
			position: absolute
			left: 0
			top: 50%
			margin-top: -7px
			cursor: pointer
			z-index: 10
			opacity: 0
		label
			font-size: 14px
			line-height: 22px
			display: block
			padding-left: 45px
			position: relative
			z-index: 1
			cursor: pointer
			&::before
				display: block
				position: absolute
				left: 0
				top: 50%
				width: 45px
				height: 44px
				margin-top: -7px
				// background: rgba(0, 0, 0, 0) url(../images/checkbox.gif) no-repeat
				border: 3px solid $bl
				z-index: 5
				content: ''
		input[checked="checked"] + label::before
			background-color: $bl
			background-image: url('../img/input_checkbox_arrow.png')
		// input
		// 	// width: 45px
		// 	// height: 44px
		// 	// border: 3px solid $bl
		// 	// float: right
		// 	display: none
		// label
		// 	display: inline-block
		// 	cursor: pointer
		// 	position: relative
		// 	// padding-left: 25px
		// 	margin-right: 45px
		// 	// font-size: 13px
		// label::before
		// 	content: ''
		// 	display: inline-block
		// 	width: 45px
		// 	height: 44px
		// 	margin-right: 10px
		// 	position: absolute
		// 	left: 0
		// 	bottom: 0px
		// 	border: 3px solid $bl
		// 	// box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8)
		// input:checked+label::before
		// 	content: '\2713'
		// 	background: $bl
		// 	// text-shadow: 1px 1px 1px rgba(0, 0, 0, .2)
		// 	// font-size: 15px
		// 	// color: #f3f3f3
		// 	// text-align: center
		// 	// line-height: 15px
	//End .event_type
	.contact_details
		width: 66.6666%
		padding-right: 12px
		float: left
		// h2
		// 	font-family: $pnb
		// 	font-size: 24px
		// 	line-height: 29px
		// 	color: $bl
		// 	margin-bottom: 23px
		.first_section,
		.second_section
			width: 50%
			float: left
			&::before
				content: ''
				display: block
				border-top: 2px solid #d7d7d7
		.first_section
			padding-right: 20px
		.second_section
			padding-left: 19px
		label
			display: block
			font-family: $pnsb
			font-weight: normal
			font-size: 18px
			line-height: 22px
			color: $bl
			margin-top: 23px
		input
			font-family: $pnr
			font-size: 18px
			line-height: 22px
			color: $bl
			border: 3px solid #d7d7d7
			width: 100%
			padding: 8px 15px
			&:focus
				border-color: $bl
			&:invalid
				border-color: #f00
				outline: none
		select
			font-family: $pnr
			font-size: 18px
			line-height: 22px
			color: #d7d7d7
			width: 100%
			border: 3px solid #d7d7d7
			background: url('../img/select_arrow.png')
			background-repeat: no-repeat
			background-position: right 14px center
			padding: 0px 46px 2px 8px
			outline: 0
			/*for WebKit*/
			-webkit-appearance: none
			/* for FF */
			-moz-appearance: none
			text-indent: 0.01px
			text-overflow: ''
			/* for IE */
			-ms-appearance: none
			appearance: none !important
			&:focus
				color: #fff
				border-color: $bl
				background-color: $bl
				background-image: url('../img/select_arrow_focus.png')
			option
				color: #fff
				background: $bl
				padding: 7.5px 0px 7.5px 15px
				&:hover,
				&:focus
					color: $ye
					background: $bl
	//End .contact_details
	.requirements
		width: 33.3333%
		padding-left: 25px
		float: left
		li
			padding-top: 25px
			padding-bottom: 24px
			border-top: 2px solid #d7d7d7
			// &:nth-child(2n)
			// 	padding-top: 28px
			// 	padding-bottom: 21px
			&:last-child
				border-bottom: 2px solid #d7d7d7
		.info
			float: left
			h3,
			h4
				color: $bl
			h3
				font-family: $pnsb
				font-size: 18px
				line-height: 22px
			h4
				font-family: $pnr
				font-size: 14px
				line-height: 21px
		.input_box
			display: inline-block
			*display: inline /* inline-block ie7 fix */
			*zoom: 1
			vertical-align: top
			position: relative
			cursor: pointer
			margin-top: 6px
			float: right
		input
			width: 14px
			height: 14px
			margin: 0
			padding: 0
			position: absolute
			left: 0
			top: 50%
			margin-top: -7px
			cursor: pointer
			z-index: 10
			opacity: 0
		label
			font-size: 14px
			line-height: 22px
			display: block
			padding-left: 45px
			position: relative
			z-index: 1
			cursor: pointer
			&::before
				display: block
				position: absolute
				left: 0
				top: 50%
				width: 45px
				height: 44px
				margin-top: -7px
				// background: rgba(0, 0, 0, 0) url(../images/checkbox.gif) no-repeat
				border: 3px solid $bl
				z-index: 5
				content: ''
		input:checked + label::before
			background-color: $bl
			background-image: url('../img/input_checkbox_arrow.png')
	//End .requirements
	.event_details
		width: 66.6666%
		padding-right: 12px
		float: left
		// h2
		// 	font-family: $pnb
		// 	font-size: 24px
		// 	line-height: 29px
		// 	color: $bl
		// 	margin-bottom: 23px
		.first_section,
		.second_section
			width: 50%
			float: left
			&::before
				content: ''
				display: block
				border-top: 2px solid #d7d7d7
		.first_section
			padding-right: 20px
		.second_section
			padding-left: 19px
		label
			display: block
			font-family: $pnsb
			font-weight: normal
			font-size: 18px
			line-height: 22px
			color: $bl
			margin-top: 23px
			clear: both
		input
			font-family: $pnr
			font-size: 18px
			line-height: 22px
			color: $bl
			border: 3px solid #d7d7d7
			width: 100%
			padding: 8px 15px
			&:focus
				border-color: $bl
			&:invalid
				border-color: #f00
				outline: none
		select
			font-family: $pnr
			font-size: 18px
			line-height: 22px
			color: #d7d7d7
			width: 100%
			border: 3px solid #d7d7d7
			background: url('../img/select_arrow.png')
			background-repeat: no-repeat
			background-position: right 14px center
			padding: 1px 46px 1px 10px
			outline: 0
			/*for WebKit*/
			-webkit-appearance: none
			/* for FF */
			-moz-appearance: none
			text-indent: 0.01px
			text-overflow: ''
			/* for IE */
			-ms-appearance: none
			appearance: none !important
			&:focus
				color: #fff
				border-color: $bl
				background-color: $bl
				background-image: url('../img/select_arrow_focus.png')
			option
				color: #fff
				background: $bl
				padding: 7.5px 0px 7.5px 15px
				&:hover,
				&:focus
					color: $ye
					background: $bl
		.two_inputs
			width: 46.9%
			float: left
			margin-right: 10px
			margin-bottom: 23px
		.two_inputs + .two_inputs
			margin-right: 0px
			margin-left: 10px
			float: right
		.address_same_address
			border-top: 2px solid #d7d7d7
			padding-top: 20px
			margin-top: 23px
			h4
				display: inline-block
				font-family: $pnsb
				font-size: 18px
				line-height: 20px
				color: $bl
				width: 72%
			.input_box
				display: inline-block
				*display: inline /* inline-block ie7 fix */
				*zoom: 1
				vertical-align: top
				position: relative
				cursor: pointer
				margin-top: 11px
				float: right
				input
					width: 14px
					height: 14px
					margin: 0
					padding: 0
					position: absolute
					left: 0
					top: 50%
					margin-top: -7px
					cursor: pointer
					z-index: 10
					opacity: 0
				label
					font-size: 14px
					line-height: 22px
					display: block
					padding-left: 45px
					position: relative
					z-index: 1
					cursor: pointer
					margin-top: 0px
					&::before
						display: block
						position: absolute
						left: 0
						top: 50%
						width: 45px
						height: 44px
						margin-top: -7px
						// background: rgba(0, 0, 0, 0) url(../images/checkbox.gif) no-repeat
						border: 3px solid $bl
						z-index: 5
						content: ''
				input:checked + label::before
					background-color: $bl
					background-image: url('../img/input_checkbox_arrow.png')
	//End .event_details
	.subscribe
		width: 33.3333%
		padding-left: 25px
		float: left
		li
			padding-top: 25px
			padding-bottom: 23px
			border-top: 2px solid #d7d7d7
			// &:nth-child(2n)
			// 	padding-top: 28px
			// 	padding-bottom: 21px
			&:last-child
				border-bottom: 2px solid #d7d7d7
			.info
				float: left
				h3,
				h4
					color: $bl
				h3
					font-family: $pnsb
					font-size: 18px
					line-height: 22px
				h4
					font-family: $pnr
					font-size: 14px
					line-height: 21px
			.input_box
				display: inline-block
				*display: inline /* inline-block ie7 fix */
				*zoom: 1
				vertical-align: top
				position: relative
				cursor: pointer
				margin-top: 6px
				float: right
			input
				width: 14px
				height: 14px
				margin: 0
				padding: 0
				position: absolute
				left: 0
				top: 50%
				margin-top: -7px
				cursor: pointer
				z-index: 10
				opacity: 0
			label
				font-size: 14px
				line-height: 22px
				display: block
				padding-left: 45px
				position: relative
				z-index: 1
				cursor: pointer
				&::before
					display: block
					position: absolute
					left: 0
					top: 50%
					width: 45px
					height: 44px
					margin-top: -7px
					// background: rgba(0, 0, 0, 0) url(../images/checkbox.gif) no-repeat
					border: 3px solid $bl
					z-index: 5
					content: ''
			input:checked + label::before
				background-color: $bl
				background-image: url('../img/input_checkbox_arrow.png')
		.how_find_side
			label
				display: block
				font-family: $pnsb
				font-weight: normal
				font-size: 18px
				line-height: 22px
				color: $bl
				margin-top: 22px
				margin-bottom: 6px
			select
				font-family: $pnr
				font-size: 18px
				line-height: 22px
				color: #d7d7d7
				width: 100%
				border: 3px solid #d7d7d7
				background: url('../img/select_arrow.png')
				background-repeat: no-repeat
				background-position: right 14px center
				padding: 0px 46px 2px 8px
				outline: 0
				/*for WebKit*/
				-webkit-appearance: none
				/* for FF */
				-moz-appearance: none
				text-indent: 0.01px
				text-overflow: ''
				/* for IE */
				-ms-appearance: none
				appearance: none !important
				&:focus
					color: #fff
					border-color: $bl
					background-color: $bl
					background-image: url('../img/select_arrow_focus.png')
				option
					color: #fff
					background: $bl
					padding: 7.5px 0px 7.5px 15px
					&:hover,
					&:focus
						color: $ye
						background: $bl
	//End .subscribe
	.quote_landed
		h2
			display: inline-block
			font-family: $pnsb
			font-size: 36px
			line-height: 43px
			border-bottom: 2px solid #d7d7d7
			padding-right: 80px
			padding-bottom: 20px
			margin-bottom: 27px
		p
			font-family: $pnr
			font-size: 18px
			line-height: 26px
			color: #000
			width: 49%
			a
				color: $bl
				&:hover
					text-decoration: underline
		h2 + p
			margin-bottom: 26px
	.finish
		float: left
//End .online_quote_popup
.ui-widget-content
	width: 321px
	border: none
	border-radius: 0px
	background: #d7d7d7
.ui-datepicker .ui-widget-header
	border: none
	border-radius: 0px
	background: #d7d7d7
	padding-top: 7px
	padding-bottom: 5px
.ui-datepicker .ui-datepicker-prev
	top: 10px
	left: 10px
	background: url('../img/jquery_ui_calendar_arrows.png') no-repeat 7px center
	cursor: pointer
	transition: all .25s linear
	-webkit-transition: all .25s linear
	-moz-transition: all .25s linear
	-o-transition: all .25s linear
	&:hover
		left: 0px
		border: none
.ui-datepicker .ui-datepicker-next
	top: 10px
	right: 11px
	background: url('../img/jquery_ui_calendar_arrows.png') no-repeat right 7px center
	cursor: pointer
	transition: all .25s linear
	-webkit-transition: all .25s linear
	-moz-transition: all .25s linear
	-o-transition: all .25s linear
	&:hover
		right: 0px
		border: none
.ui-datepicker-title
	font-family: $pnsb
	font-size: 18px
	font-weight: normal
	line-height: 22px
	color: #515252
	text-transform: uppercase
.ui-datepicker td
	padding: 0px
.ui-datepicker-calendar
	background: #fff
	thead
		border-bottom: 2px solid #d7d7d7
		th
			font-family: $pnr
			font-weight: normal
			font-size: 12px
			line-height: 15px
			color: #515356
			text-transform: uppercase
			padding-top: 16px
			padding-bottom: 13px
.ui-widget-content .ui-state-default
	font-family: $pnr
	font-size: 18px
	font-weight: normal
	line-height: 22px
	color: #515356
	border: none
	background: none
	text-align: center
	padding-top: 11px
	padding-bottom: 12px
	&:hover
		color: #fff
		background: $bl
.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight,
tbody .ui-datepicker-week-end
	background: #f5f5f5